@font-face {
    font-family: 'Neue Montreal';
    src: url('NeueMontreal-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Neue Montreal', sans-serif;
}

.envio-gratis {
    background-color: #1b243f;
    color: #d6dd78;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    width: 100%;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    width: 150px;
    height: auto;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.menu ul li a {
    text-decoration: none;
    color: #1b243f;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}
